<%- include("./partials/header"); -%>

<div class="container mt-5">
    <h1 class="text-center mb-4">Calculate your Solar Savings</h1>
    <div class="card p-4">
        <div class="card-body">
            <div class="form-group">
                <label for="countrySelect">In which country do you live:</label>
                <select class="form-control" id="countrySelect" onchange="displayCountryInfo()">
                    <option value="">Choose</option>
                    <option value="Mexico">Mexico</option>
                    <option value="USA">USA</option>
                    <option value="Canada">Canada</option>
                </select>
            </div>
            <div id="countryInfo" class="text-center mt-4"></div>

            <h4 class="text-center mt-4">Calculate how much you would save if you had solar panels</h4>
            <div>
                <input type="number" id="dinero" placeholder="How much do you pay (monthly)">
                <button id="sumit" onclick="calcular()">Sumit</button>
                <br><br>
                <span id="panels"></span>
                <span id="info"></span>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center">Country-Specific Solar Panel Information</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-success text-white text-center">Information - Mexico</div>
                <div class="card-body">
                    <p>Details about solar panel benefits, installation costs, and incentives in Mexico.</p>
                    <!-- Aquí información específica sobre México -->
                    <p>A solar panel generates 400 kWh per month and costs approximately 22,000 pesos.</p> <p>If you use 75 kWh per month, you pay 1,015 pesos. If you use an additional 65 kWh, it costs 1,250 pesos, and for any excess usage, it's 3.730 pesos per watt-hour (for each extra Wh).</p> 
                    <table border="1">
                     <tr> 
                    <th>kWh</th> 
                    <th>Pesos</th> 
                    </tr> 
                    <tr> 
                    <td>75</td>
                     <td>76.125</td> 
                    </tr> 
                    <tr> 
                    <td>65</td> 
                    <td>81.25</td> 
                    </tr> 
                    <tr> 
                    <td>Excess</td> 
                    <td>3.730</td> 
                    </tr> 
                    </table>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">Information - USA</div>
                <div class="card-body">
                    <p>Details about solar panel benefits, installation costs, and incentives in the USA.</p><br>
                    <!-- Aquí información específica sobre USA -->
                    <p>A single 450-watt solar panel generates about 2.7 kWh per day,<br> which adds up to roughly 81 kWh each month—and each panel costs around $742.50.</p>

                    <p>For energy needs, a 2,000-square-foot home typically requires around 18 solar panels,<br> while a larger 3,000-square-foot home might need closer to 30 panels.</p>
                    
                    <p>With electricity rates in the U.S. averaging around $0.1547 per kWh,<br> the typical American household consumes around 900 kWh monthly,<br> totaling $139.23 in electricity costs.</p>
                    
                    <p>Now, consider this: installing just 18 of these 450-watt panels generates about 1,458 kWh each month,<br> which translates to a monthly savings of $225.55.<br> Over a year, that’s a savings of $2,706.63!</p>
                    
                    <p>In fact, comparing typical U.S. household electricity costs with the energy output from 18 solar panels,<br> you’d be saving approximately $86 each month,<br> putting money back into the family budget!</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-danger text-white text-center">Information - Canada</div>
                <div class="card-body">
                    <p>Details about solar panel benefits, installation costs, and incentives in Canada.</p>
                    <!-- Aquí información específica sobre Canadá -->
                    <p>A solar panel generates 600 kWh per month. In Canada, end-users face varying electricity costs, with a national average of 19.2 Canadian cents per kilowatt-hour as of September 2023. Due to its remote location, electricity is more expensive in the Northwest Territories, where the cost per kilowatt-hour reaches 41 Canadian cents. For our calculations, we’ll use the average rate of CAD $0.192 per kWh.</p>

                    <br>
                    
                    <p>Installation Cost: A typical residential solar system in Canada ranges from CAD $10,000 to CAD $30,000 for a system of approximately 5 to 10 kW. We’ll assume an installation cost of CAD $20,000.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function displayCountryInfo() {
        const country = document.getElementById("countrySelect").value;
        const infoDiv = document.getElementById("countryInfo");
        if (country === "Mexico") {
            infoDiv.innerHTML = "<p>Estimated annual savings in Mexico: $ MXN</p>";
        } else if (country === "USA") {
            infoDiv.innerHTML = "<p>Estimated annual savings in the USA: $ USD</p>";
        } else if (country === "Canada") {
            infoDiv.innerHTML = "<p>Estimated annual savings in Canada: $ CAN</p>";
        } else {
            infoDiv.innerHTML = "";
        }
    }
    function calcular(){
        const country = document.getElementById("countrySelect").value;
        const paneles = document.getElementById("panels");
        const info=document.getElementById("info");
        if (country === "Mexico") {
            paneles.innerHTML = mexico();
            info.innerHTML="After that time, all the electricity you use will be a profit for your pocket."
        } else if (country === "USA") {
            paneles.innerHTML = USA();
            info.innerHTML="After that time, all the electricity you use will be a profit for your pocket."
        } else if (country === "Canada") {
            paneles.innerHTML = canada();
            info.innerHTML="After that time, all the electricity you use will be a profit for your pocket."
        } else {
            paneles.innerHTML = "<p>You need to choose a country</p>";
        }
    }
    function mexico() {
    var din = parseFloat(document.getElementById("dinero").value);
    var wh = 0;
    const dinorg=din;

    if (din >= 76.125) {
        din -= 76.125;
        wh += 75;
    } else {
        wh += Math.ceil(din / 1.015);
        din = 0;
    }
    if (din >= 81.25) {
        din -= 81.25;
        wh += 65;
    } else if (din > 0) {
        wh += Math.ceil(din / 1.25);
        din = 0;
    }
    if (din > 0) {
        wh += Math.ceil(din / 3.73);
    }

    const paneles1 = Math.ceil(wh / 500);
    var tiempo;//meses
    tiempo=Math.ceil(80000/dinorg);
    
    const imp = `You need at least ${paneles1} panel(s) to cover your electricity cost. And you would recover your money ${tiempo} in months.`;
    return imp;
}


    function USA() {
        var din = parseFloat(document.getElementById("dinero").value);
        var wh = 0,tiempo,paneles1;
        wh=Math.ceil(din/0.1547);
        paneles1=Math.ceil(wh / 81);
        tiempo=Math.ceil((742.50*paneles1)/din);//8,910    
        const imp = `You need at least ${paneles1} panel(s) to cover your electricity cost. And you would recover your money ${tiempo} in months.`;
        return imp;
}

    function canada(){
        var din = parseFloat(document.getElementById("dinero").value);
        var wh = 0,tiempo,paneles1;
        wh=Math.ceil(din/.192);
        paneles1=Math.ceil(wh / 600);
        tiempo=Math.ceil(20000/din);
        const imp = `You need at least ${paneles1} panel(s) to cover your electricity cost. And you would recover your money ${tiempo} in months.`;
        return imp;
}
</script>


<%- include("partials/footer"); -%>